@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>S.F Express</h1>
    <p class="lead">SF Express Co., Ltd. is a Chinese multinational delivery services and logistics company based in Shenzhen, Guangdong. It is the second largest courier in China, and provides domestic and international express delivery.</p>
    <p><a href="https://en.wikipedia.org/wiki/SF_Express" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

